<article>
  <header>
    <h3>Outlines how a module can use Xero API</h3>
  </header>
  <p>
    The Xero API module provides an interface to get and post data to the Xero
    Accounting service. You can integrate your Accounts Receivable, Accounts Payable,
    Bank Reconciliation and Customer/Employee Management data with your Drupal web site.
  </p>
  <p>
    The xero_example module provides developer documentation to
  </p>
  <ol>
    <li><a href="/examples/xero-example/get-item">Fetch data by ID</a> from the Xero API and display it on a page.</li>
    <li><a href="/examples/xero-example/account">Fetch simple data</a> from the Xero API and display it on a page.</li>
    <li><a href="/examples/xero-example/helper-form">Post a simple data type</a> using the Xero Form API helper.</li>
    <li><a href="/examples/xero-example/invoice">Post a more complex data type</a>.</li>
  </ol>
  <p>
    Before you begin, confirm your <a href="https://developer.xero.com/myapps/" target="_blank">Xero private application</a>
    is configured on the <a href="/admin/config/services/xero">Xero configuration</a> page.
  </p>
</article>
